In [9]:
import pandas as pd
import numpy as np

y_train = pd.read_csv('NSL-KDD/KDDTrain+.txt',header=None)
x_train = pd.read_csv('NSL-KDD/KDDTrain+.txt',header=None)
y_train

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal,20
1,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal,15
2,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,19
3,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal,21
4,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125968,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.06,0.00,0.00,1.00,1.00,0.00,0.00,neptune,20
125969,8,udp,private,SF,105,145,0,0,0,0,...,0.96,0.01,0.01,0.00,0.00,0.00,0.00,0.00,normal,21
125970,0,tcp,smtp,SF,2231,384,0,0,0,0,...,0.12,0.06,0.00,0.00,0.72,0.00,0.01,0.00,normal,18
125971,0,tcp,klogin,S0,0,0,0,0,0,0,...,0.03,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,20
125972,0,tcp,ftp_data,SF,151,0,0,0,0,0,...,0.30,0.03,0.30,0.00,0.00,0.00,0.00,0.00,normal,21

In [10]:
x_train = x_train.iloc[:,4:-2]
x = x_train.values
x = x.astype(int)
x_train

,4,5,6,7,8,9,10,11,12,13,...,31,32,33,34,35,36,37,38,39,40
0,491,0,0,0,0,0,0,0,0,0,...,150,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00
1,146,0,0,0,0,0,0,0,0,0,...,255,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00
2,0,0,0,0,0,0,0,0,0,0,...,255,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00
3,232,8153,0,0,0,0,0,1,0,0,...,30,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01
4,199,420,0,0,0,0,0,1,0,0,...,255,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125968,0,0,0,0,0,0,0,0,0,0,...,255,25,0.10,0.06,0.00,0.00,1.00,1.00,0.00,0.00
125969,105,145,0,0,0,0,0,0,0,0,...,255,244,0.96,0.01,0.01,0.00,0.00,0.00,0.00,0.00
125970,2231,384,0,0,0,0,0,1,0,0,...,255,30,0.12,0.06,0.00,0.00,0.72,0.00,0.01,0.00
125971,0,0,0,0,0,0,0,0,0,0,...,255,8,0.03,0.05,0.00,0.00,1.00,1.00,0.00,0.00
125972,151,0,0,0,0,0,0,1,0,0,...,255,77,0.30,0.03,0.30,0.00,0.00,0.00,0.00,0.00

In [11]:
y_train = y_train.iloc[:,4:-1]
y_train[41] = np.where(y_train[41] == "normal", 0, 1)
y_train = y_train.iloc[:,-1:]
y_train = y_train.values
y = y_train.astype(int)
y_train

array([[0],
       [0],
       [1],
       ...,
       [0],
       [1],
       [0]])

In [9]:
from sklearn import metrics
from sklearn.discriminant_analysis import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
# from sklearn import metrics


x_train, x_test,  y_train, y_test = train_test_split(x, y,train_size=0.3)

clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
classification = clf.fit(x_train, y_train)
y_pred = classification.predict(x_test)
acuracy = metrics.accuracy_score(y_test, classification.predict(x_test))
predict = classification.score(x_test, y_test)
print(predict, acuracy)

# clf = tree.DecisionTreeRegressor()
# clf = clf.fit(x_test, y_train)
# tree.plot_tree(clf)

# clf = tree.DecisionTreeClassifier()
# clf = clf.fit(x_train, y_train)
# gnb.fit(x_train, y_train)
# previsoes = gnb.predict(x_test)
# acertos = metrics.accuracy_score(y_test,y_pred)
# performace = round(acertos,4)

/Users/leoleo/Documents/Tcc/Trabalho_conclusao_curso_python/venv/lib/python3.9/site-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9714113991517543 0.9714113991517543

In [10]:
from sklearn.metrics import classification_report
target_names = ['class 0', 'class 1']
print(classification_report(y_test, y_pred, target_names=target_names))

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

     class 0       0.97      0.98      0.97     47343
     class 1       0.97      0.96      0.97     40839

    accuracy                           0.97     88182
   macro avg       0.97      0.97      0.97     88182
weighted avg       0.97      0.97      0.97     88182

              precision    recall  f1-score   support

           0       0.97      0.98      0.97     47343
           1       0.97      0.96      0.97     40839

    accuracy                           0.97     88182
   macro avg       0.97      0.97      0.97     88182
weighted avg       0.97      0.97      0.97     88182

y_train.shape

for i in range(len(DataBaseTest.index)):
    if DataBaseTest.iloc[i,-2] == 'normal':
        DataBaseTest.iloc[i,-2] = 0
    else:
        DataBaseTest.iloc[i,-2] = 1
DataBaseTest = DataBaseTest.iloc[:,:-1]
DataBaseTest = DataBaseTest.iloc[:,4:].values
DataBaseTest = DataBaseTest.astype(int)